<div class="container-fluid">
    <div class="row">
        <div class="anim1s col-12" [ngClass]="{'col-xl-4': movieIsSelected, 'col-xl-12': !movieIsSelected }">
            <div class="sidebar-container">
                <app-movies-list></app-movies-list>
            </div>
        </div>
        <div class="animwidth main-section col-12" [ngClass]="{'col-xl-8': movieIsSelected, 'd-none': !movieIsSelected }">
            <div class="main-container">
                <app-movie-card>
                </app-movie-card>
            </div>
        </div>
    </div>
</div>