<ng-container *ngIf="movie; else elseTemplate">
    <div class="card-container">
        <div class="flex-between">
            <h3>
                {{movie.title}}
            </h3>
            <h6>
                {{movie.release_date | dateForamt}}
            </h6>
        </div>
        <p> {{movie.tagline}}</p>
        <div class="row mt-40px d-m-block">
            <div class="col-5">
                <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class=" movie-image" alt="{{movie.title}}" />
            </div>
            <div class="col-12 col-xl-7 mt-40px w-m-100 m-m-0 p-m-0 m-top-40px">
                <h5>
                    Overview
                </h5>
                <p>
                    {{movie.overview}}
                </p>
                <h5 class="mt-40px">
                    Genres
                </h5>
                <div class="genre-chips d-m-block">
                    <div class="genre m-top-10px m-text-center " *ngFor="let genre of movie.genres">
                        {{genre.name}}
                    </div>
                </div>
                <div class="mt-40px d-m-block">
                    <button (click)="openTrailer(movie)" class="trailer-button btn btn-success">
                        <i class="fa fa-play-circle mr-10px"></i>Trailer</button>
                    <button *ngIf="movie.homepage" (click)="goToLink(movie.homepage)" class="play-button ml-10px btn btn-danger">
                            <i class="fa fa-play mr-10px"></i>Play</button>
                </div>
                <div class="stars mt-40px">
                    <ngb-rating [max]="5" [starTemplate]="t" [(rate)]="currentRate" [readonly]="true"></ngb-rating>
                </div>
                <div class="votes">
                    <p>Total votes: {{movie.vote_count}}</p>
                </div>

            </div>
        </div>
    </div>

    <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
        </span>
    </ng-template>
</ng-container>

<ng-template #elseTemplate>
    <div class="select-a-movie">
        Select a movie
    </div>
</ng-template>