<ng-container *ngIf="movies.length; else elseTemplate">
    <div *ngIf="selectedMovieId && mobileView" class="back-button" (click)="backButton()">
        List of movies
    </div>
    <div *ngIf="!selectedMovieId || !mobileView">
        <div class="movie-row" *ngFor="let movie of movies" (click)="clickMovie(movie)" [ngClass]="{'selected': movie.id === selectedMovieId}">
            <div class="flex-between align-center">
                <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class=" movie-image" alt="{{movie.title}}" />
                <h5 class="pl-40px">
                    {{movie.title}}
                </h5>
            </div>
            <div class="flex-between align-center">
                <h5 class="stars-fonts">
                    {{movie.vote_average / 2}} / 5
                    <i class="fa fa-star "></i>
                </h5>
                <i class="pl-40px fa fa-angle-right fa-5x"></i>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #elseTemplate>
    <div style="padding:20px">
        No movie matching.
    </div>
</ng-template>