.mt-40px {
    margin-top: 40px;
}

.pl-40px {
    padding-left: 40px;
}

.ml-20px {
    margin-left: 20px;
}

.ml-10px {
    margin-left: 10px;
}

.mr-10px {
    margin-right: 10px;
}

.col-4,
.col-8,
.col-12,
.col-xl-4,
.col-xl-8,
.col-xl-12 {
    padding: 0!important;
    margin: 0!important;
}