.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-bottom: 2px solid lightgrey;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
}

.search-container {
    position: relative;
    input {
        height: 40px;
        width: 400px;
        border-radius: 10px;
        border: 0;
        padding: 10px 20px;
        background-color: #e2e2e2d4;
        border: 2px solid #e2e2e2d4;
        transition: all 0.5s;
    }
    input:focus {
        outline: none;
        background-color: white;
        border: 2px solid #e2e2e2d4;
    }
    .fa {
        font-size: 25px;
        color: gray;
        position: absolute;
        right: 10px;
        top: 7px;
    }
}

.title {
    font-weight: 900!important;
}

@media only screen and (max-width: 576px) {
    .header {
        height: 120px;
        padding-top: 20px;
    }
}